<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h4>Features</h4>
      <ol>
        <li>Single/Multiple selection</li>
        <li>Search</li>
        <li>Keyboard navigation (Arrows, Enter, ESC)</li>
        <li>Manual input (when <code>allowInsert=true</code>)</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <h4>Usage</h4>
      {{eg-code-highlight code=selectBoxSnippet language='handlebars'}}
    </div>
  </div>
  {{paper-divider}}
  <div class="row">
    <div class="twelve columns">
      <h4>Single Select box</h4>
    </div>
  </div>
  <div class="row">
    <div class="five columns">
      {{select-box
          content=countries
          optionLabelPath="content.name"
          optionValuePath="content.code"
          selection=selectedCountry
          prompt="Select Countries"}}
    </div>
    <div class="two columns">&nbsp;</div>
    <div class="five columns">
      {{#if selectedCountry}}
        <u>Selected country</u>
        <ul>
          <li>{{selectedCountry.name}}
            <a href="#" {{action "deselect" "selectedCountry"}}>
              {{paper-icon icon="cancel" size="sm"}}
            </a>
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
  {{paper-divider}}
  <div class="row">
    <div class="twelve columns">
      <h4>Multiple Select box</h4>
    </div>
  </div>
  <div class="row">
    <div class="five columns">
      {{select-box
          content=users
          optionLabelPath="content.name"
          optionValuePath="content.name"
          selection=selectedUsers
          multiple=true
          prompt="Select Users"}}
    </div>
    <div class="two columns">&nbsp;</div>
    <div class="five columns">
      {{#if selectedUsers.length}}
        <u>Selected users</u>
        <ul>
          {{#each selectedUsers as |user|}}
            <li>{{user.name}}
              <a href="#" {{action "remove" user selectedUsers}}>
                {{paper-icon icon="cancel" size="sm"}}
              </a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
  {{paper-divider}}
  <div class="row">
    <div class="twelve columns">
      <h4>Manual input</h4>
    </div>
  </div>
  <div class="row">
    <div class="five columns">
      {{select-box
          content=emails
          optionLabelPath="content.name"
          optionValuePath="content.name"
          selection=selectedEmails
          multiple=true
          allowInsert=true
          inserts=inserts
          prompt="Select Emails (or enter a new one)"}}
    </div>
    <div class="two columns">&nbsp;</div>
    <div class="five columns">
      {{#if selectedEmails.length}}
        <u>Selected emails</u>
        <ul>
          {{#each selectedEmails as |email|}}
            <li>{{email.name}}
              <a href="#" {{action "remove" email selectedEmails}}>
                {{paper-icon icon="cancel" size="sm"}}
              </a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if inserts.length}}
        <u>Manually inserted emails</u>
        <ul>
          {{#each inserts as |item|}}
            <li>{{item}}
              <a href="#" {{action "remove" item inserts}}>
                {{paper-icon icon="cancel" size="sm"}}
              </a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
  {{paper-divider}}
</div>
